USE [master]
GO
/****** Object:  Database [GSM_OOKPRO]    Script Date: 19/06/2024 14:32:29 ******/
CREATE DATABASE [GSM_OOKPRO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GSM_OOKPRO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER03\MSSQL\DATA\GSM_OOKPRO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GSM_OOKPRO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER03\MSSQL\DATA\GSM_OOKPRO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GSM_OOKPRO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GSM_OOKPRO]
GO
/****** Object:  Table [dbo].[Autentificare_gsm]    Script Date: 19/06/2024 14:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autentificare_gsm](
	[name] [nchar](10) NOT NULL,
	[subname] [nchar](10) NOT NULL,
	[username] [nchar](10) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[age] [int] NOT NULL,
 CONSTRAINT [PK_Autentificare_gsm] PRIMARY KEY CLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cases]    Script Date: 19/06/2024 14:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cases](
	[model] [nvarchar](50) NOT NULL,
	[culoare] [nvarchar](50) NULL,
	[material] [nvarchar](50) NULL,
	[pret] [nchar](10) NULL,
 CONSTRAINT [PK_Cases_1] PRIMARY KEY CLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chargers]    Script Date: 19/06/2024 14:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chargers](
	[model] [nchar](10) NOT NULL,
	[pret] [float] NOT NULL,
 CONSTRAINT [PK_Chargers] PRIMARY KEY CLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foils]    Script Date: 19/06/2024 14:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foils](
	[model] [nvarchar](50) NOT NULL,
	[material] [nvarchar](50) NOT NULL,
	[pret] [float] NOT NULL,
 CONSTRAINT [PK_Foils] PRIMARY KEY CLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Headp]    Script Date: 19/06/2024 14:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Headp](
	[model] [nchar](10) NULL,
	[buc] [int] NULL,
	[pret] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phones]    Script Date: 19/06/2024 14:32:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phones](
	[model] [nchar](10) NOT NULL,
	[anaparitie] [int] NULL,
	[culoare] [nchar](10) NULL,
	[pret] [float] NULL,
 CONSTRAINT [PK_Phones] PRIMARY KEY CLUSTERED 
(
	[model] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
